# Ignore node_modules
node_modules/
frontend/node_modules/
backend/node_modules/
infra/.miniodata/

# Ignore logs and environment files
*.log
.env
.env.local
.env.development
.env.production

# Ignore build artifacts
dist/
build/
.cache/

# Ignore temporary files
*.tmp
.DS_Store
Thumbs.db

# Exclude empty files from being tracked (Git does not track empty directories by default)
